<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tiny Python Search</title>
    </head>
    <body>
        <h2>Search</h2>
        <form action="/">
            <input type="search" name="query">
            <input type="submit">
        </form>
        {% if msg %}
        <h2 style="color:rgb(255,0,0);">{{msg}}</h2>
        {% endif %}
        {% if results %}
            <h2>Results</h2>
            <ul>
            {% for result in results %}
                <li>
                    <a href="{{result["url"]}}">{{result["url"]}}</a>
                    <br>
                    {% if v %}
                        {{result}}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>